@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'path/to/your/custom.css'; /* Import your custom CSS */

body {
  zoom: 1 !important;
  background-color: black
}

.main-wrapper {
  min-height: 100vh;
  background-color: #000; /* Your desired background color */
}

/* In your CSS file */
.custom-shake-duration {
    @apply duration-500; /* Example: duration-500 for 500ms */
  }
 